@mixin breakpoint($maxWidth, $minWidth: 0) {
  @media only screen and (min-width: $minWidth) and (max-width: $maxWidth) {
    @content;
  }
}

@mixin TrainerName {
  font-family: 'Gill Sans Std', sans-serif;
  font-weight: bold;
  font-size: 2vw;
  color: black;
}

@mixin TrainerSubname {
  font-family: 'Gill Sans Std', sans-serif;
  font-style: italic;
  font-size: .98vw;
  color: #6b6c6e;
}

@mixin TrainerDescription {
  font-family: 'Gill Sans', sans-serif;
  font-size: 1vw;
  text-align: justify;
  line-height: 1.45;
  color: black;
}

@mixin IllustratorCredit {
  font-family: 'Futura Std', sans-serif;
  font-size: .47vw;
  color: black;
}

@mixin SetNumerals {
  font-family: 'Frutiger LT Std', sans-serif;
  font-size: .69vw;
  color: black;
}

@mixin SpecialChars {
  font-family: 'Pokemon Web Font', sans-serif;
  color: black;
}
