@font-face {
  font-family: 'Gill Sans Std';
  src: url('../fonts/GillSansStd.otf') format('opentype');
}

@font-face {
  font-family: 'Gill Sans';
  src: url('../fonts/GillSans.otf') format('opentype');
}

@font-face {
  font-family: 'Futura Std';
  src: url('../fonts/FuturaStdBoldOblique.otf') format('opentype');
}

@font-face {
  font-family: 'Frutiger LT Std';
  src: url('../fonts/FrutigerLTStdBoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Pokemon Web Font';
  src: url('../fonts/ptcg-webfont.woff2') format('woff2');
}
