@font-face {
  font-family: 'Gill Sans Std';
  src: url('../fonts/GillSansStd.otf') format('opentype');
}

@font-face {
  font-family: 'Gill Sans Std Bold';
  src: url('../fonts/GillSansStd-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Gill Sans Condensed';
  src: url('../fonts/Gill Sans Condensed.ttf') format('truetype');
}

@font-face {
  font-family: 'Gill Sans';
  src: url('../fonts/GillSans.otf') format('opentype');
}

@font-face {
  font-family: 'Futura LT Medium';
  src: url('../fonts/FuturaLTMedium.ttf') format('truetype');
}

@font-face {
  font-family: 'Futura Std';
  src: url('../fonts/FuturaStdMedium.otf') format('opentype');
}

@font-face {
  font-family: 'Frutiger LT Std';
  src: url('../fonts/FrutigerLTStd-Roman.otf') format('opentype');
}

@font-face {
  font-family: 'Pokemon Web Font';
  src: url('../fonts/ptcg-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'Optima';
  src: url('../fonts/Optima Roman.ttf') format('truetype');
}
