$tablet: 1040px;
$mobile: 640px;

$main:      #d35337;
$white:     #ffffff;
$lightGrey: #e9e9e9;
$grey:      #c6c6c6;
$coal:      #474747;
$black:     #000000;
$semiBlack: #333333;

$sitePadding:    10px;
$defaultSpacing: 20px;
$headerHeight:   32.5px;
$footerHeight:   25px;
$pageWidth:      1040px;

$defaultFont: 'Asap Condensed', sans-serif;
