$tablet: 1040px;
$mobile: 640px;

$main:      #d35337;
$white:     #ffffff;
$lightGrey: #e9e9e9;
$grey:      #c6c6c6;
$black:     #000000;

$sitePadding:    10px;
$defaultSpacing: 20px;
$headerHeight:   70px;
$footerHeight:   25px;

$defaultFont: 'Roboto', sans-serif;
