@import 'styles/config';

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.input {
  display: flex;
  margin: 5px 0;

  &Label {
    margin-right: 5px;
    width: 100px;
  }

  &Field {
    width: 150px;
  }
}


