@import 'styles/config';

.wrapper {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;

  @include breakpoint($mobile) {
    flex-direction: column-reverse;
    align-items: center;
  }
}

.input {
  display: flex;
  align-items: center;
  margin: 5px 0;
  width: 320px;

  &.horizontal {
    flex-direction: column;
    justify-content: center;
    align-items: unset;
  }

  &.horizontal &Field {
    width: 100%;
  }

  &.horizontal &Label {
    margin-bottom: 5px;
  }

  &Label {
    margin-right: 5px;
    width: 125px;
  }

  &Field {
    width: 60%;
  }

  &Textarea {
    height: 100px;
    resize: none;
  }
}
