@import 'styles/config';

.input {
  display: flex;
  align-items: center;
  margin: 5px 0;

  &.horizontal {
    flex-direction: column;
    justify-content: center;
    align-items: unset;
  }

  &.horizontal &Field {
    width: 100%;
  }

  &.horizontal &Label {
    margin-bottom: 5px;
    width: 100%;
  }

  &Label {
    margin-right: 5px;
    width: 125px;
    display: flex;
    justify-content: space-between;

    &Button {
      cursor: pointer;
      margin-left: 5px;

      &:hover {
        color: $main;
      }
    }
  }

  &Field {
    width: 60%;
    font-size: .9em;
    padding: 2.5px;
  }

  &Textarea {
    height: 100px;
    resize: none;
  }
}

.info {
  font-style: italic;
  font-size: .8em;
  margin-bottom: 5px;
}

.button, .file::-webkit-file-upload-button {
  border: none;
  background: none;
  width: 100%;
  padding: 7.5px;
  border-radius: 30px;
  box-shadow: 0 0 7.5px 0 rgba($black, .25);
  cursor: pointer;
  font-weight: 500;
  font-size: .95em;
  background: $white;
  color: $black;
  transition:
    transform .15s,
    background-color .15s ease-in-out,
    color .15s ease-in-out;
  outline: none;

  &:hover, &:focus {
    background: $black;
    color: $white;
  }

  &:active {
    transform: scale(.7);
  }
}

.file {
  padding: 5px;

  &::-webkit-file-upload-button {
    width: unset;
  }
}
