@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import './config';

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $defaultFont;
}

body {
  background: $white;
}
