@import 'styles/config';

.wrapper {
  align-items: center;
  display: flex;
  padding: $sitePadding;

  @include breakpoint($tablet) {
    flex-direction: column;
    align-items: center;
  }
}

.iconText {
  @include SpecialChars;
}

.card {
  width: 30%;
  margin-right: 2.5%;
  position: relative;
  font-size: 1vw;
  z-index: 1000;
  box-shadow: 0 0 7.5px 0 rgba($black, .25);
  border-radius: 28px;

  @include breakpoint($tablet) {
    // This font-size is the width / 30 (50/30 = 1.667)vw
    width: 50%;
    font-size: 1.667vw;
  }

  @include breakpoint($mobile) {
    width: 95%;
    font-size: 3.167vw;
    margin-bottom: 15px;
    margin-right: unset;
  }
}

.info {
  margin-top: 25px;
  max-width: 600px;
}

.multiline {
  white-space: pre-line;
}

.buttons {
  display: flex;
  margin-top: 25px;
}

.edit {
  width: 100%;
  margin-right: 25px;
}
