@import 'styles/config';

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: hidden;
  position: relative;
}

.header {
  z-index: 1000;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 $defaultSpacing;
  height: $headerHeight;
  margin-bottom: $defaultSpacing;

  @include breakpoint($mobile) {
    position: relative;
  }
}

.navigation {
  height: 100%;
  background: $white;
  box-shadow: 0 0 7.5px 0 rgba($black, .25);
  font-size: 1.15em;
}

.navItems {
  height: 100%;
  list-style: none;
  display: flex;
}

.link {
  text-decoration: none;
}

.navItem {
  background: $white;
  color: $semiBlack;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7.5px;
  width: 32.5px;
  transition:
    width .25s ease-in-out,
    background-color .5s ease-in-out;
}

.navText {
  position: absolute;
  visibility: hidden;
  top: 0;
  left: 0;
  opacity: 0;
  margin-left: 5px;
  transition: opacity .25s ease-in;
}

.active {
  .navItem {
    background: $semiBlack;
    color: $white;
    box-shadow: 0 0 7.5px 0 rgba($black, .25);
    width: 85px;
  }

  .navText {
    visibility: visible;
    position: unset;
    opacity: 1;
  }
}

.content {
  position: relative;
  padding: 0 $defaultSpacing $defaultSpacing;
  min-height: calc(100vh - #{$headerHeight + $footerHeight});

  @include breakpoint($tablet) {
    padding: 0 $defaultSpacing / 2;
  }

  @include breakpoint($mobile) {
    padding: 0;
  }
}

.footer {
  background: $white;
  height: 0;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -9000;
}

$backgroundColor: #e03242;
// $backgroundColor: #ef86f8;
// $backgroundColor: #6172ce;
// $backgroundColor: #19ff9c;
// $backgroundColor: #b4e935;
// $backgroundColor: #f5bb2a;

.colorLine {
  position: fixed;
  top: -50%;
  left: -30%;
  height: 150vh;
  width: 55%;
  z-index: -8000;
  background: $backgroundColor;
  transform: rotate(20deg);

  &::after {
    position: absolute;
    content: '';
    width: 125px;
    background: darken($backgroundColor, 7.5);
    height: 100%;
    top: 0;
    right: 0;
  }
}
